@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}
.forf{
    background-color: #ECE5E7;
}
.k{
    font-family: 'Big Shoulders Stencil Text', cursive;
}
.cnt{
    margin: 4% 37%;
}
.cnt2{
   margin-left: 30%;
}
.line{
    border-bottom: rgb(0, 0, 0) 1.5px solid;
}

.border{
    border: solid #C5B0B7 1.5px;
}


table th, table td{
text-align: center;
padding-left: 6px;
padding-right:6px ;
}
tbody tr:nth-child(even) {
background: #f5f3f4;
}
table td{
    padding-top: 8px;
    padding-bottom: 8px;
}
table th{
/* font-weight: 300; */
color: #591133;
padding-bottom: 10px;
padding-top: 20px;
}

